<h1>Welcome!</h1>
<h2>This app allows you to monitoring your devices.</h2>
<h3>Sign-up or login to start!</h3>






{{#section 'head'}}
  <style>
    html {
      text-align: center;
    }
  </style>
{{/section}}
