<h1>login</h1><form action="/login" method="post">
  First name:<br>
  <input type="text" name="username" value="Mickey">
  <br>
  passsowrd:<br>
  <input type="text" name="password" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>
