<h1>signup</h1>
<form action="/signup" method="post">
  First name:<br>
  <input type="text" name="username" value="Mickey">
  <br>
  password:<br>
  <input type="text" name="password" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>
